/* 滚动条 */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #e58a8a;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #e58a8a;
}

/* 效果一：彩带 */
.card-info-avatar:hover {
  background: url(https://gcore.jsdelivr.net/gh/rigodlee/BLOGCDN/img/H3342af90d24b4d62b9bbfec9688ccc25M.gif);
}

/* 字体 */
@font-face{
  font-family:'MiSans Regular' ;  /* 字体名自定义即可 */
  src:url('https://unpkg.com/aciano-cdn@1.0.0/font/MiSans Regular.ttf'); /* 字体文件路径 */
  font-display : swap;
}

h1#site-title {
  font-family: 'PingFang', sans-serif;
}

/* 首页磁铁字体微调 */
a.categoryBar-list-link {
    text-shadow: #0000001a 1px 0 0, #000000 0 1px 0, #000000 -1px 0 0, #00000000 0 -1px 0;
}

/* twikoo评论适配暗黑模式 */
:root{
  --heo-white: #fff;
  --heo-blue: #286dea;
  --heo-none: rgba(0,0,0,0);
  --heo-gray: #999999;
}
[data-theme=light] {
  --heo-fontcolor: #000;
  --heo-background: #fff;
  --heo-maskbg: rgba(255, 255, 255, 0.6);
  --heo-navbg: rgba(255, 255, 255, 0.9);;
  --heo-hovertext: #286dea;
  --heo-ahoverbg: #F7F7FA;
  --heo-lighttext: #ef794f;
  --heo-secondtext: rgba(0, 0, 0, 0.6);


}

/* 页脚透明 */
#footer{
  background: transparent!important;
}

/*页脚自定义字段字体颜色*/
.footer_custom_text{
  color: #00c4b6;
}

/*个人博客颜色修改*/
#page-header #site_title{
  color: #80bdab;
}


/*头部文字颜色*/
#nav a{
  color: #f9f2f4;
}

/* 博主昵称颜色 */
.author-info__name {
  color: #ff7242;
}

/* 首页中间打字效果上方 */
#page-header #site_title {
  color: #ffffff;
}

/* 评论框  */

.vwrap {
  box-shadow: 2px 2px 5px #bbb;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 30px;
  margin: 30px 0px 30px 0px;
}


/* 提交按钮 */

#vcomment button {
  padding: 0.3rem 0.8rem;
  border-color: #fff;
  background-color: #e58a8a;
  color: #fff;
  font-size: 0.7rem;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}


/* 评论区代码块 */

.v[data-class=v] code {
  color: #c7254e;
  background-color: #F9F2F4;
}


/* 设置评论框 */

.vcard {
  box-shadow: 2px 2px 5px #bbb;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 30px;
  margin: 30px 0px 0px 0px;
}


/* 取消回复聊天框 */

.vquote .vcard {
  box-shadow: 2px 2px 5px transparent;
  background: rgba(255, 255, 255, 0.0);
  padding: 0px;
}

